<li>
  <div class="comic-image-container">
    <% if favorite?(comic.id, @favorites) %>
      <%= image_tag(comic.thumb_path, class: 'character-comic-img comic-border') %>
    <%else%>
      <%= image_tag(comic.thumb_path, class: 'character-comic-img comic-no-border') %>
    <%end%>
    <div class='favorite-position'>
      <% if favorite?(comic.id, @favorites) %>
        <%= image_tag('heart_on', alt: "Marvel logo", class: "heart-on") %>
        <%= button_to 'Remove vote', upvotes_path(comic_id: comic.id), method: :delete, class: "heart-on" %>
      <%else%>
        <%= image_tag('heart_off', alt: "Marvel logo", class: "heart-off") %>
        <%= button_to 'CREATE vote', upvotes_path(comic_id: comic.id), method: :post, class: "heart-off" %>
      <%end%>
    </div>
  </div>
</li>