<li>
  <div class="comic-image-container">
    <% if favorite?(comic.id, @favorites) %>
      <%= image_tag(comic.thumb_path, class: 'character-comic-img comic-border') %>
    <%else%>
      <%= image_tag(comic.thumb_path, class: 'character-comic-img comic-no-border') %>
    <%end%>
    <div>
      <% if favorite?(comic.id, @favorites) %>
        <%= image_tag('heart_on', alt: "Marvel logo", class: "heart-on favorite-heart-on-position") %>
        <%= button_to '', upvote_path(comic.id), method: :delete, class: "heart-on favorite-input-position", params: { page: @page, character_id: @character_id } %>
      <%else%>
        <%= image_tag('heart_off', id: "heart-off-#{comic.id}", alt: "Marvel logo", class: "heart-off favorite-heart-off-position") %>
        <%= button_to '', upvotes_path(comic_id: comic.id), onmouseout: "document.getElementById('heart-off-#{comic.id}').src='#{asset_path('heart_off.png')}'", onmouseover: "document.getElementById('heart-off-#{comic.id}').src='#{asset_path('heart_hover.png')}'", method: :post, class: "heart-off favorite-input-position", params: { character_id: @character_id, page: @page } %>
      <%end%>
    </div>
  </div>
</li>